* {
  font-family: 'Times New Roman', arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #a2d2db;
}

.col.s6 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

h5 {
  font-weight: bolder;
  margin-bottom: -2.5rem;
}


footer {
  color: #a2d2db;
}

.lightline {
  /*border-color: #a2d2db;*/
  border: 1px solid #a2d2db;
}

textarea {
    width: 100%;
    height: 9.375rem;
    padding: .75rem 1.25rem;
    box-sizing: border-box;
    border: .125rem solid #a2d2db;
    border-radius: 0.25rem;
    background-color: #fff;
    resize: none;
}

.date {
  color: #a2d2db;
  font-style: italic;
  padding: 0;
  margin: .8125rem 0;
  text-indent: 3.125rem;
}

.projdesc {
  text-indent: 3.125rem;
  padding: 0;
  margin: -0.875rem 0;
}

#oei {
  padding: 0;
  margin: -1.25rem 0;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: .75rem 1.25rem;
    margin: .5rem 0;
    display: inline-block;
    border: 1px solid #a2d2db;
    border-radius: .25rem;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #fff;
    color: #a2d2db;
    padding: .875rem 1.25rem;
    margin: .5rem 0;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #a2d2db;
    background-color: #fff;
}

#contact {
    border-radius: .3125rem;
    background-color: #a2d2db;
    padding: 1.25rem;
}

.skills {
  text-indent: 5.625rem;
}

a {
  color: #a2d2db;
}
